@page "/"
@using ParkerPlan.Web.Data
@inject GoodsService Service
<h1>
    Ручки Паркер
</h1>

@foreach (var pen in Service.GetAll())
{
    @SetV("/pen/" + pen.ParkerId)
    
    <div style="display: inline-block; border: 1px gray solid; margin: 10px; align-items: center;
                                  background: white">
        <a href=@($"/pen/{pen.ParkerId}") style="text-decoration: none">
            @{
                var w = $"PEN{pen.ParkerId}.bmp";
            }
            <img src=@w />
            <h5 style="padding: 0 0 0 15px">
                @pen.Name
            </h5>
        </a>
    </div>
}

@code
{
    private string value { get; set; }

    private string SetV(string v)
    {
        value = v;
        return "";
    }
}
