@using ParkerPlan.Abstractions.Queries
@using ParkerPlan.Abstractions.Dtos
@using ParkerPlan.Abstractions
@inject IJSRuntime Js
@inject IQueryHandler<GetWorkers, WorkerDto[]> GetWorkers

<MudNavMenu>
    <MudNavLink Href="/home">
        <h4>
            Товары
        </h4>
    </MudNavLink>
    <MudNavLink Href="/basket/">
        <h4>
            Корзина
        </h4>
    </MudNavLink>
    @if (_login != null)
    {
        if (GetWorkers.Execute(new GetWorkers()).Any(x => x.Login == _login))
        {
            @if (_password == GetWorkers.Execute(new GetWorkers()).First(x => x.Login == _login).Password)
            {
                <MudNavGroup Title="Админ" Expanded="true">
                    <MudNavLink Href="/admin/">
                        <h4>
                            Товары
                        </h4>
                    </MudNavLink>
                    <MudNavLink Href="/leads/">
                        <h4>
                            Заявки
                        </h4>
                    </MudNavLink>
                </MudNavGroup>
            }
        }
    }
    @if (_login != null)
    {
        if (GetWorkers.Execute(new GetWorkers()).Any(x => x.Login == _login))
        {
            @if (_password == GetWorkers.Execute(new GetWorkers()).First(x => x.Login == _login).Password)
            {
                if (GetWorkers.Execute(new GetWorkers()).First(x => x.Login == _login).Position.
                    ToLower().Contains("Директор".ToLower()))
                {
                    <MudNavGroup Title="Директор" Expanded="true">
                        <MudNavLink Href="/director/">
                            <h4>
                                Управление
                            </h4>
                        </MudNavLink>
                        <MudNavLink Href="/workers/">
                            <h4>
                                Сотрудники
                            </h4>
                        </MudNavLink>
                        <MudNavLink Href="/charts/">
                            <h4>
                                Данные
                            </h4>
                        </MudNavLink>
                    </MudNavGroup>
                }
            }
        }
    }
</MudNavMenu>

@code
{
    private string _login;

    private string _password;

    protected override void OnInitialized()
    {
        ReadCookies();

        base.OnInitialized();
    }

    protected async Task ReadCookies()
    {
        _login = await Js.InvokeAsync<string>("ReadCookie.ReadCookie", "login");
        _password = await Js.InvokeAsync<string>("ReadCookie.ReadCookie", "password");
        StateHasChanged();
    }
}
