<MudNavMenu>
    <MudNavLink Href="/home">
        <h4>
            Товары
        </h4>
    </MudNavLink>
    <MudNavLink Href="/basket/">
        <h4>
            Корзина
        </h4>
    </MudNavLink>
</MudNavMenu>