@{
    var plusIcon = Icons.Material.Rounded.Add;
    var minusIcon = Icons.Material.Rounded.Remove;
}

<MudButton StartIcon="@plusIcon" OnClick="@Plus"/>
<div style="display: inline-block">
    <MudTextField Value="FieldValue" ValueChanged="Changed" 
                  Validation="new Func<int, bool>(CheckValidation)"/>
</div>
<MudButton StartIcon="@minusIcon" OnClick="@Minus"/>

@code {
    [Parameter]
    public int FieldValue { get; set; }
    [Parameter]
    public int MaxValue { get; set; }
    [Parameter]
    public int MinValue { get; set; }
    [Parameter]
    public EventCallback<int> Changed { get; set; }

    private bool CheckValidation(int value)
    {
        return value >= MinValue && value <= MaxValue;
    }

    private void Plus()
    {
        if (CheckValidation(FieldValue + 1))
        {
            FieldValue += 1;
            Changed.InvokeAsync(FieldValue);
        }
    }

    private void Minus()
    {
        if (CheckValidation(FieldValue - 1))
        {
            FieldValue -= 1;
            Changed.InvokeAsync(FieldValue);
        }
    }
}